header h1 {
    font-size: 56px;
    color: rgb(84, 49, 202);
}
header {
    text-align: center;
    padding: 32px;
}
 header img {
    width: 250px;
}
.first-list {
   list-style:none;
}
#second-list {
    list-style:none;
}
main {
    text-align: left;
    border: 1px solid rgb(122, 74, 218);
    border-radius: 6px;
    background-color:rgb(122, 74, 218);
    width: 700px;
    padding: 32px;
    margin: 32px auto;
    color: white;
}
main a {
    background-color: white;
    color: black;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 4px;
    padding: 2px 6px;
}
a:hover, a:active {
background-color: rgb(250, 201, 39);
}

footer {
    text-align: center;
    margin-bottom: 100px;
    
}
 footer a {
    background-color: rgb(227, 165, 48);
    border: 1px solid rgb(227, 165, 48);
    border-radius: 7px;
    text-decoration: none;
    padding: 12px 20px;
    color:black;
}
footer p {
    color: rgb(139, 118, 118);
    margin-top: 30px ;
}
 footer a:hover, footer a:active {
    background-color: rgb(125, 125, 10);
}
ul {
    margin: 0;
    padding: 0;
}
li {
    padding-left:10px ;
    margin: 14px 0;
    border-left: 5px solid transparent;
}
.important {
    color: rgb(255, 237, 177);
    border-color: rgb(247, 209, 85);
    
    
}
